In [18]:
# List/Stack Operations

mylist = [2,4,6,11,77,88,99]
print(mylist)

mylist.append(100),
print(mylist)

mylist.remove(2),
print(mylist)

mylist.pop(),
print(mylist)

mylist.count(11)
mylist.index(88)

mylist.reverse(),
print(mylist)


mylist.sort()
print(mylist)

[2, 4, 6, 11, 77, 88, 99]
[2, 4, 6, 11, 77, 88, 99, 100]
[4, 6, 11, 77, 88, 99, 100]
[4, 6, 11, 77, 88, 99]
[99, 88, 77, 11, 6, 4]
[4, 6, 11, 77, 88, 99]

In [21]:
# Implementation of Queue

from collections import deque

myqueue = deque(["Ali", 3.99, "UCP Lahore", "BSCS", "Islamabad"])
myqueue.append("Male")
myqueue.append("Cricket Lover")
print(myqueue)


print(myqueue.popleft())
print(myqueue)

deque(['Ali', 3.99, 'UCP Lahore', 'BSCS', 'Islamabad', 'Male', 'Cricket Lover'])
Ali
deque([3.99, 'UCP Lahore', 'BSCS', 'Islamabad', 'Male', 'Cricket Lover'])

In [24]:
arr = [
    [1,2,3,4],
    [6,9,8,7],
    [22,55,66,88],
    [99,66,44,22]
]

print(arr[0][1])
arr[2][3]=100

print(arr)

2
[[1, 2, 3, 4], [6, 9, 8, 7], [22, 55, 66, 100], [99, 66, 44, 22]]